{% extends "auctions/layout.html" %}

{% block body %}
    <h2> Products in category of {{category}}</h2>
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>   
                <p class="card-text">Price: {{ product.amount.bid_amount }}</p>


                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% empty %}
            <p>There is no Product in {{category}}</p>
        {% endfor %}
{% endblock %}